

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #5c2626;
    --secondaryColor: #e4e4e4;
}

body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.parallax-outer {
  overflow: hidden;
}

.parallax {
  height: 110vh;
  width: 100%;
  position: relative;
}

.parallax img {
  position: absolute;
}

.guy-rock{
  width: 100%;
  bottom: 0;
  
}

.mountains{
  width: 100%;
  bottom: 0;
  
}

.sky{
  width: 100%;
  bottom: 0;
  
}

.water{
  width: 100%;
  bottom: 0;
  
}

.trees-left{
  width: 100%;
  bottom: 0;
}

.trees-right{
  width: 100%;
  bottom:0;
}





